
services:
  php:
    build: ./docker/php
    container_name: php-fpm
    volumes:
      - ./:/var/www/html

  nginx:
    image: nginx:alpine
    container_name: nginx-server
    ports:
      - "8000:80"
    volumes:
      - ./:/var/www/html
      - ./docker/nginx/conf.d:/etc/nginx/conf.d
    depends_on:
      - php
