services:
  php:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: payment_gateway_php
    volumes:
      - .:/var/www/html
    working_dir: /var/www/html
    environment:
      APP_ENV: dev
    expose:
      - "9000"
    networks:
      - appnet

  nginx:
    image: nginx:stable-alpine
    container_name: payment_gateway_nginx
    depends_on:
      - php
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
      - ./docker/nginx/conf.d/:/etc/nginx/conf.d/:ro
    networks:
      - appnet

  db:
    image: mysql:8.0
    container_name: payment_gateway_db
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: app_db
      MYSQL_USER: app
      MYSQL_PASSWORD: secret
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - appnet

volumes:
  db_data:

networks:
  appnet:
